<%- include('partials/header.ejs') %>
<!-- CONTEUDO -->
<<div class="container fade-in-1">
    <div class="row">
        <%- include('partials/menuLateral.ejs') %>
        <div id="conteudo" class="col-12 col-lg-8 col-xl-9">
            <main>
                <div class="card m-3">
                    <div class="card-header">Cadastro de Livros</div>
                        <form action="/livros/alterar" method="post">
                            <div class="card card-body">
                                
                                <input type="hidden" name="id" value="<%= livros[0].id %>">
                                <label for="titulo" class="form-label">Título</label>
                                <input type="text" class="form-control" id="titulo" name="titulo" value="<%= livros[0].titulo %>">
                                <label for="subtitulo" class="form-label">Sub-Título</label>
                                <input type="text" id="subtitulo" class="form-control" name="subtitulo" value="<%=livros[0].subtitulo %>">
                                <label for="autor" class="form-label">Autor</label>
                                <input type="text" id="autor" class="form-control" name="autor" value="<%= livros[0].autor %>">
                                <label for="genero" class="form-label">Gênero</label>
                                <select class="form-control" name="genero" id="genero" value="<%= livros[0].genero %>">
                                    <option value="" selected>---------</option>
                                    <option value="aventura">Aventura</option>
                                    <option value="Romance">Romance</option>
                                    <option value="Suspense">Suspense</option>
                                    <option value="Terror">Terror</option>
                                </select>
                            </div>
                            <div class="card card-footer">
                                <div class="btn-group col-4">
                                    <button type="submit" class="btn btn-success m-2">Gravar</button>
                                    <a type="button" class="btn btn-danger m-2" href="/livros">Cancelar</a>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </main>
        </div>
    </div>
</div>
<!-- FIM CONTEUDO -->
<%- include('partials/footer.ejs') %>