<%- include('partials/header.ejs') %>
<!-- CONTEUDO -->
<div class="container fade-in-1">
    <div class="row">
        <%- include('partials/menuLateral.ejs') %>
        <div id="conteudo" class="col-12 col-lg-8 col-xl-9">
            <main>
                <a role="button" class="btn btn-success mt-3 mb-3" href="/livros/inserir">Inserir Livro</a>
                <table class="table table-stripped">
                    <thead>
                        <th>Título</th>
                        <th>Sub-Título</th>
                        <th>Autor</th>
                        <th>Gênero</th>
                        <th>Ações</th>
                    </thead>
                    <tbody>
                        <% livros.forEach(function(livro) { %>
                            <tr>
                                <td><%= livro.titulo %></td>
                                <td><%= livro.subtitulo %></td>
                                <td><%= livro.autor %></td>
                                <td><%= livro.genero %></td>
                                <td><a class="btn btn-primary" href="/livros/alterar/<%= livro.id %>">Alterar</a></td>
                                <td><a class="btn btn-danger" href="/livros/excluir/<%= livro.id %>">Excluir</a></td>
                            </tr> 
                        <%});%>
                    </tbody>
                </table>

            </main>
        </div>
    </div>
</div>
<!-- FIM CONTEUDO -->

<%- include('partials/footer.ejs') %>